.slide {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    font-family: Raleway;
}
.carousel {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;

}
.card img {
    width: 200px;
    margin: 0;
}
.card p {
    border: 3px solid #DE7A63;
    font-size: 16px;
    width: 200px;
    margin: 0;
    box-sizing: border-box;
    padding: 5px;
}
h4 {
    text-align: center;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 800;
}
.arrow {
    border: none;
}
.arrow img {
    width: 40px;
}
.steps {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}
.steps img {
    width: 200px;
}
.steps h3 {
    color: #83B29B;
    font-weight: 900;
}
h2 {
    text-align: center;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 800;
}
.steps .between {
    width: 70px;
    height: 70px;
    margin-bottom: 70px;
}