/* * {
    border: 1px solid red;
} */
/* Results Container */
.results {
    display: flex;
    flex-wrap: wrap;
    font-family: Raleway;
    font-size: 21px;
    margin: 44px 17px 75px 17px;
    flex: 1;
}
/* Main Area */
.main {
    flex: 3;
}
/* Aside */
.ingredients-list {
    flex: 0 1 335px;
}
/* container for top section of main */
.item-view {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}
.item-info {
    margin-left: 51px;
}
/* Item name */
.item-info h3 {
    font-size: 30px;
    max-width: 300px;
}
/* time and serving size */
.item-top {
    display: flex;
}
.item-top div {
    display: flex;
    align-items: center;
    margin: 0 28px;
}
.item-top div p {
    margin-left: 11px;
    width: max-content;
}
.timer-icon {
    width: 24px;
    height: 28.57px;
}
.person-icon {
    width: 16px;
    height: 24.61px;
}
/* list items for tools */
.tools-needed * {
    margin: 0;
}
.tools-needed p {
    margin-left: 22px;
}
/* Instructions */
.item-description {
    margin-left: 40px;
}
.item-description h2 {
    color: #83b29b;
    text-align: left;
}

/* Removing the default ol numbers and adding custom ones */
ol li {
    color: #DE7A63;
    margin-bottom: 36px;
}
ol li span {
    color: black;
    font-family: "Open Sans";
}
/* ingredients checkbox */
.ingredients-list h3 {
    font-size: 36px;
    color: #82B29B;
    text-align: center;
}
.ingredients-list div input {
    margin: 10px 28px;
    color: #DE7A63;
}
.cart-button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.to-cart {
    background-color: #DE7A73;
    color: white;
    border-radius: 3px;
    width: 250px;
    height: 44px;
    font-size: large;
    font-weight: bolder;
    align-self: flex-end;
}

.food-image {
    width: 300px;
}
.small-arrow {
    display: none;
}

@media only screen and (max-width: 420px) {
    .results {
        margin: 0;
        justify-content: center;
    }
    .food-image {
        width: 80vw;
    }
    .item-info {
        margin: 0;
    }
    .item-description {
        margin: 0;
    }
    .instruction-list.hide {
        display: none;
    }
    .instruction-list.show {
        display: block;
    }
    .ingredients-list {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
    }
    .instructions-head {
        display: flex;
        width: 100%;
        text-align: left;
        border: 2px solid #3D415A;
        justify-content: space-between;
    }
    .instructions-head h2 {
        margin: 20px 0;
        padding: 0 30px;
        font-size: 24px;
        color: #3D415A;
    }
    .small-arrow {
        display: block;
        width: 40px;
        height: 24px;
        align-self: center;
        margin-right: 42px;
    }

}