/* Results Container */
.results {
    display: flex;
    flex-wrap: wrap;
    font-family: Raleway;
    font-size: 21px;
    margin: 44px 17px 75px 17px;
    flex: 1;
}
/* Main Area */
.main {
    flex: 3;
}
/* Aside */
.ingredients-list {
    flex: 0 1 335px;
}
/* container for top section of main */
.item-view {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
/* Item name */
.item-info h3 {
    font-size: 30px;
}
/* time and serving size */
.item-top {
    display: flex;
}
.item-top div {
    display: flex;
    align-items: center;
}
.timer-icon {
    width: 24px;
    height: 28.57px;
}
.person-icon {
    width: 16px;
    height: 24.61px;
}
/* list items for tools */
.tools-needed * {
    margin: 0;
}
.tools-needed p {
    margin-left: 22px;
}
/* Instructions */
.item-description {
    margin-left: 40px;
}
.item-description h2 {
    color: #83b29b;
}

/* Removing the default ol numbers and adding custom ones */
ol li {
    color: #DE7A63;
    margin-bottom: 36px;
}
ol li span {
    color: black;
    font-family: "Open Sans";
}
/* ingredients checkbox */
.ingredients-list h3 {
    font-size: 36px;
    color: #82B29B;
    text-align: center;
}
.ingredients-list div input {
    margin-right: 28px;
    color: #DE7A63;
}
.cart-button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.to-cart {
    background-color: #DE7A73;
    color: white;
    border-radius: 3px;
    width: 250px;
    height: 44px;
    font-size: large;
    font-weight: bolder;
    align-self: flex-end;
}