.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F4F1DF;
  color: #3D415A;
  font-weight: bold;
  font-size: 18px;
  height: 69px;
}
.nav-bar p {
  flex: 1;
  display: block;
}
.nav-bar img {
  width: 50px;
  margin:0 20px;
}
.nav-bar .cart {
  width: 30px;
}
.nav-bar .hamburger {
  display: none;
}
.nav-link {
  text-decoration: none;
  color: #3D415A;
  font-size: 24px;
  flex: 3;
  display: block;
}

/* Start Footer */

footer {
  font-family: Raleway;
  display: flex;
  justify-content: space-between;
  background-color: #3D415A;
  height: 200px;
  color: white;
}
.footer {
  display: flex;
  align-items: center;
}
.footer.left img {
  height: 60px;
  width: 94px;
}
.footer.mid {
  flex-direction: column;
  justify-content: center;
}
.footer.mid img {
  width: 27px;
  height:27px;
  margin: 0 15px;
}
.footer.right {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.footer.right p {
  margin: 0 16px 16px 0;
}

@media only screen and (max-width: 420px) {
  .nav-bar {
    display: flex;
    justify-content: space-between;
  }
  .nav-bar p {
    display: none;
    flex: 0;
  }
  .nav-link {
    display: none;
    flex: 0;
  }
  .nav-bar .logo {
    margin: auto;
  }
  .nav-bar .hamburger {
    display: block;
    max-width: 30px;
  }
  .dropdown {
    position: absolute;
  }
}